@import "../bootstrap/scss/_mixins.scss";
@import "../bootstrap/scss/_variables.scss";
@import "mixins.scss";
@import "variables.scss";
@import "variables.md.scss";

@import "bs.scss";
@import "ui.scss";
@import "utils.scss";
@import "md.scss";
@import "ng.scss";
@import "table.scss";
@import "details";
#alert{
  position: absolute;
  top:0;
  width: 80%;
  right: 10%;
  color: #fff;
  z-index: 5000;
  border-radius: 0 0 10px 10px;
  p{
    text-align: center;
    margin-top: 10px;
  }
}
#error{
  position: absolute;
  top:0;
  width: 80%;
  right: 10%;
  color: #fff;
  z-index: 5000;
  border-radius: 0 0 10px 10px;
  p{
    text-align: center;
    margin-top: 10px;
  }
}
.check,.error{
  display: flex;
  justify-content: center;
  align-items: center;
}
.check:after{
  content: "\f058";
  font-family: 'FontAwesome';
  font-size: 1.5em;
  color: green;

}
.error:after{
  content: "\f057";
  font-family: 'FontAwesome';
  font-size: 1.5em;
  color: red;

}
.requirements{
  color: red;
  font-size:.8em;
  text-align: left;
}
.modal-error{
  background-color: red;
  color: white;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: height .5s;
  width: 80%;
  margin: 0 auto;
  position: absolute;
  left: 10%;
  top: 0;
  border-radius: 0 0 10px 10px;

}
.nav-icon{
  text-shadow: #000 0 1px 5px;

}
.navbar-brand{
  text-shadow: #000 0 1px 10px;
}

#closeNav{
  display: none;
  @media (max-width: 991px){
    display: block;
  }
}
.lowerNav{
  display: flex;
  align-items: center;
}
#commandButtons{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  button{
    margin: 5px 0;
  }
}
#userTable{
  tr td{
    text-transform: capitalize;
  }
  @media (max-width: 600px){
    tr td:nth-child(2){
      display: none;
    }
    tr th:nth-child(2){
      display: none;
    }
    tr td:nth-child(4){
      display: none;
    }
    tr th:nth-child(4){
      display: none;
    }
  }
}
#customerTable{
  tr td{
    text-transform: capitalize;
  }
  @media (max-width: 950px){
    tr td:nth-child(2){
      display: none;
    }
    tr th:nth-child(2){
      display: none;
    }
    tr td:nth-child(5){
      display: none;
    }
    tr th:nth-child(5){
      display: none;
    }
    tr td:nth-child(6){
      display: none;
    }
    tr th:nth-child(6){
      display: none;
    }
    tr td:nth-child(7){
      display: none;
    }
    tr th:nth-child(7){
      display: none;
    }
    tr td:nth-child(8){
      display: none;
    }
    tr th:nth-child(8){
      display: none;
    }
  }
}

#driverTable{
  tr td{
    text-transform: capitalize;
  }
  @media (max-width: 950px){
    tr td:nth-child(2){
      display: none;
    }
    tr th:nth-child(2){
      display: none;
    }
  }
}

#truckTable{
   tr td{
     text-transform: capitalize;
   }
 }

#trailerTable{
  tr td{
    text-transform: capitalize;
  }
}

.modal-body{
  button{
    cursor: pointer;
  }
  #password{
    button{
      margin: 1em 0;
      cursor: pointer;
    }
  }
  .editGroup {
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, .2);
    }
  }
}
#modal{
  max-width: 90%;
  margin: 0 auto;
}

.bottomDetail{
  display: flex;

}