#customerDetails{
  padding: 15px;

  .row {
    display:flex;
    align-items: center;

    p {
      margin: 0;
      padding: 0;
    }
  }
}
.customerCommands{

  .white {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding:15px;

    button {
      max-width: 250px;
      max-height: 50px;
      margin: 15px 0;
      width: 95%;
      cursor: pointer;
    }
  }
}