#details{
  padding: 15px;

  .row {
    display:flex;
    align-items: center;

    p {
      margin: 0;
      padding: 0;
    }
  }
  .editItem {
    height: 0;
    overflow: hidden;
    transition: height .5s;

    .input-group {
      padding-top: 10px;
      width: 80%;
      margin: 0 auto;
      select {
        font-size: 24px;
        border-radius: 10px 0 0 10px;
      }
      input {
        border-radius: 10px 0 0 10px;
      }
      button {
        border-radius: 0 10px 10px 0;
      }
    }
  }
  .detailContainer {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding-top: 10px;
    @media (max-width: 500px){
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    h4 {
      flex-grow: 2;
      margin-bottom: 0;
    }
    p {
      flex-grow: 1;
      text-align: right;
      @media (max-width: 500px){
        text-align: center;
      }
    }
    .fa {
      cursor: pointer;
      padding: 5px;
      margin-left: 15px;
      &:hover {
        background-color: rgba(0, 0, 0, .3);
        border-radius: 2px;
      }
    }


  }
}
hr {
  margin: 0;
}
.commands{

  .white {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding:15px;

    button {
      max-width: 250px;
      max-height: 50px;
      margin: 15px 0;
      width: 95%;
      cursor: pointer;
    }
  }
}

.error{
}