.tableHeader{
  padding-top: 1em;
}
table tbody tr{
  cursor: pointer;
}
table tbody tr:hover{
  background-color: rgba(0, 0, 0, .4) !important;
}
.box{
  position: relative;
}
.refreshIcon{
  position: absolute;
  border-radius: 50px;
  font-family: "FontAwesome";
  top: 1em;
  right: 1em;
  padding: .2em .5em;
  cursor: pointer;
  -webkit-transition: 0.6s ease-out;
  -moz-transition:  0.6s ease-out;
  transition:  0.6s ease-out;
}
.refreshIcon:hover{
  background-color: rgba(0, 0, 0, .4);
}
.refreshIcon:before{
  content: "\f021";
  font-family: "FontAwesome";

}